@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryPurple: #635fc7;
  --primaryPurpleHover: #a8a4ff;
  --primaryLightPurple: #635fc71a;
  --primaryLightPurpleHover: #635fc740;
  --primaryBlack: #000112;
  --primaryVeryDarkGrey: #20212c;
  --primaryDarkGrey: #2b2c37;
  --primaryLinesDark: #3e3f4e;
  --primaryMediumGrey: #828fa3;
  --primaryLinesLight: #e4ebfa;
  --primaryLightGrey: #f4f7fd;
  --primaryWhite: #ffffff;
  --primaryRed: #ea5555;
  --primaryRedHover: #ff9898;
  --primaryBorder: #828fa340;
}

@layer base {
  body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;
  }

  img {
    max-width: 100%;
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--primaryMediumGrey);
    border-radius: 5px;
  }
}

@layer components {
  .label {
    @apply text-xs font-bold text-primaryMediumGrey dark:text-primaryWhite;
  }
}
